@{
    ViewBag.Title = "BadAssBooks";
}



@using (Html.BeginForm("Index","Home",FormMethod.Post))
{
<p>    
    <div class="input-group col-sm-8 col-sm-offset-2">
        <input type="text" class="form-control" id="search" name="search">
        <div class="input-group-btn">
            <button class="btn myBtn" type="submit"  id="searchButton">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</p>
}